.node {
  width: 1.67vw;
  height: 1.67vw;
}

.default {
  border: 1px solid rgb(204, 153, 255);
}

.start {
  background-color: purple;
}

.end {
  background-color: black;
}

.visited {
  background-color: blue;
}

.shortest-path {
  background-color: pink;
}
