.node {
  width: 1.67vw;
  height: 1.67vw;
}

.default {
  border: 1px solid #c4a7d7;
}

.start {
  background-color: yellow;
}

.end {
  background-color: black;
}

.visited {
  background-color: #c4a7d7;
  border: 1px solid white;
}

.shortest-path {
  background-color: yellow;
}
