/* color scheme:
Blue topaz: #67AECA, rgb(103,174,202)
Amethyst: #675682, rgb(103,86,130)
Jewel: #5F0F4E, rgb(95,15,78)
Rose: #E52A6f, rgb(229,42,111) 
Yellowish: #D9E254, rgb(217,226,84) */

/* old color scheme:
border: rgba(181, 96, 202, 0.4)
begin: rgba(0, 0, 66, 0.75)
50%: rgba(179, 53, 238, 0.75)
75%: rgba(255, 82, 218, 0.75)
100%: rgba(227, 117, 255, 0.75) */

.node {
  width: 1.67vw;
  height: 1.67vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.default {
  border: 1px solid rgba(177, 109, 216, 0.507);
}

.start {
  animation-name: addonAnimation;
  animation-duration: 0.15s;
  /* animation-timing-function: ease-out; */
  animation-delay: 0;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-size: 1.4vw;
  border: 1px solid rgba(177, 109, 216, 0.507);
}

.end {
  animation-name: addonAnimation;
  animation-duration: 0.15s;
  /* animation-timing-function: ease-out; */
  animation-delay: 0;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-size: 1.4vw;
  border: 1px solid rgba(177, 109, 216, 0.507);
}

.barrier {
  animation-name: addonAnimation;
  animation-duration: 0.15s;
  /* animation-timing-function: ease-out; */
  animation-delay: 0;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: rgb(44, 44, 44);
}

.weight {
  animation-name: addonAnimation;
  animation-duration: 0.15s;
  /* animation-timing-function: ease-out; */
  animation-delay: 0;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-size: 1.4vw;
  border: 1px solid rgba(177, 109, 216, 0.507);
  padding-top: 0;
}

.weight-label {
  font-size: 1vw;
  color: white;
  z-index: 999;
}

.checkpoint {
  animation-name: addonAnimation;
  animation-duration: 0.15s;
  /* animation-timing-function: ease-out; */
  animation-delay: 0;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-size: 1.4vw;
  border: 1px solid rgba(177, 109, 216, 0.507);
  padding-top: 0;
}

.checkpoint-label {
  font-size: 1vw;
  color: white;
  z-index: 999;
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  /* animation-timing-function does cause some lag, remove if necessary*/
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes addonAnimation {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.4);
    background-color: rgb(56, 56, 56);
    border-radius: 100%;
    border: 1px solid rgba(177, 109, 216, 0.507);
  }

  40% {
    background-color: rgb(140, 0, 255);
  }

  70% {
    transform: scale(1.2);
    background-color: rgb(213, 42, 229);
  }

  100% {
    transform: scale(1);
    background-color: rgb(195, 120, 238);
    border: 1px solid white;
  }
}

@keyframes shortestPath {
  0% {
    transform: scale(0.2);
    border-radius: 50%;
    background-color: rgba(217, 226, 84, 40);
  }

  25% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    background-color: rgba(217, 226, 84, 75);
  }
}
